*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.section-1,
.section-2,
.section-3,
.section-4{
    padding-left: 10%;
    padding-right: 10%;
}

.section-1{
    background-color: #1f2937;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0px;
}

.header p{
    color: #f9faf8;
    font-size: 24px;
}

.header ul{
    display: flex;
    gap: 16px;
    list-style: none;;
}

.header a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero{
    display: flex;
    margin: 100px 0px;
    gap: 48px;
}

.hero .left{
    flex: 1;
}

.hero .left .main-text{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 8px;
}

.hero .left .secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.hero .left button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 18px;
}

.hero .right{
    flex: 1;
}

.hero .right div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: gray;
    color: white;
}

.section-2{
    text-align: center;
}

.section-2 .information{
    margin-bottom: 100px;
}

.information .main-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.information .card{
    width: 150px;
    /* font-size: 18px; */
}

.card div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px #3882f6 solid;
    background-color: gray;
    color: white;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-bottom: 8px;
}

.section-3{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote{
    margin: 100px 0px;
    width: 75%;
}

.quote .text{
    text-align: left;
    font-size: 36px;
    font-weight: 300;
    /* font-style: italic; */
}

.quote .by{
    text-align: right;
    font-weight: 700;
    font-size: 18px;
}

.section-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 48px 96px;
    margin: 100px 0px;
}

.signup-card .main-text{
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.signup-card .secondary-text{
    color: #e5e7eb;
    font-size: 18px;
}

.signup-card button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border-color: #f9faf8;
    padding: 8px 24px;
    font-size: 18px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #1f2937;
    height: 75px;
}